*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    position: relative;
}

header{
    background-color: #e0caca;
    border: solid 5px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}  

header img{
    height: 100px;
    margin-left: 0;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
   margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    color:black;
    transition: ease 0.2s;
}

nav ul li a:hover{
    color:rgb(255, 0, 0);
    font-weight: bolder;
    background-color: #000000;
    padding: 10px;
    border-radius: 20px;
}
body h1{
    text-align: center;
    color: #9a00a8;
    padding-top: 10px;
}

body p{
    text-align: center;
    font-size: 20px;
    color: #000000;
}
.Reloj2 img{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 300px;
    height: 350px;
    border-radius: 250px;
}

.Expl img{
 display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 400px;
    height: auto;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(240, 248, 255, 0.544);
    border-radius: 5px;
}
.guia img{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 300px;
    height: 350px;
}

.eje1 img{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 300px;
    height: 350px;
}

.eje2 img{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 300px;
    height: 350px;
}

.ejemplos-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}
.eje1, .eje2, .eje3, .eje4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eje3 img{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 300px;
    height: 350px;
}

.eje4 img{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 300px;
    height: 350px;
}

.intro{
    background-image: url(/assets/img/saludo.png);
    background-size:contain
}

.explicacion{
    background-image: url("/assets/img/explicacion.jpg");
    background-repeat: repeat;


}

.GuiaFinal{
    padding-top: 20px;
}

.GuiaFinal img{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 550px;
}

.ejemplozz{
    background-image: url("/assets/img/sello-ejemplo.png");
    background-size: auto;
}